#jogo {
    text-align: center;
    width: 350px;
    font-family: arial;
    border: 1px solid lightgray;
    border-radius: 10px;    
}

#jogo img {
    margin: 0 1em 0 1em;
}

#jogo p:last-child {
    color: gray;
    font-size: 90%;
}
